boto3==1.42.7
botocore==1.42.7
fastapi==0.124.4
imageio_ffmpeg==0.6.0
langchain_google_genai
moviepy==1.0.3
pgvector==0.4.2
Pillow
protobuf==6.33.2
pydantic==2.12.5
python-dotenv==1.2.1
SQLAlchemy==2.0.36
uvicorn
psycopg2-binary
google-generativeai
starlette
greenlet
click